In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns
from sklearn.linear_model import LinearRegression as LR
import statsmodels.formula.api as smf

In [33]:
data = pd.read_csv('SVM_Dataset1.csv')
data

   Unnamed: 0        X1        X2  y
0           0  2.947814  6.626878  1
1           1  2.530388  7.785050  1
2           2  3.566991  5.651046  1
3           3  3.156983  5.467077  1
4           4  2.582346  4.457777 -1
5           5  2.155826  6.222343 -1
6           6  3.273418  3.520687 -1

In [35]:
data=data.drop('Unnamed: 0', axis=1)

In [36]:
data

         X1        X2  y
0  2.947814  6.626878  1
1  2.530388  7.785050  1
2  3.566991  5.651046  1
3  3.156983  5.467077  1
4  2.582346  4.457777 -1
5  2.155826  6.222343 -1
6  3.273418  3.520687 -1